input{
    width:60%;
    margin-bottom: 10px;
    border-radius: 0px;
}
.form-group{
    margin-top:10px;
}
.btn{
    margin-top: 20px;
}

.content{
    width:85%;
    border: 1px solid #dfdfdf;
    margin: 0 auto;
    margin-top: 20px;
}

.content:after,{
	clear:both;
	content:'';
	display:block;
}