<div class="content">
<div class="container">
  <div class="row">
  
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-2"> <b>Name</b> </div>
          <div class="col-md-10"> <input type="text" [(ngModel)]="name" class="form-control" placeholder="Name"> </div>
        </div>

        <div class="form-group">
          <div class="col-md-2"> <b>Email</b> </div>
          <div class="col-md-10"> <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email"> </div>
        </div> 

        <div class="form-group">
          <div class="col-md-2"> <b>Address</b> </div>
          <div class="col-md-10"> <input type="text" [(ngModel)]="address" class="form-control" placeholder="Address"> </div>
        </div> 

        <div class="form-group">
          <div class="col-md-2"> <b>Phone Number</b> </div>
          <div class="col-md-10"> <input type="text" [(ngModel)]="phone" class="form-control" placeholder="Phone Number"> </div>
        </div> 

        <div class="form-group">
          <div class="col-md-2"> <b>Company Name</b> </div>
          <div class="col-md-10"> <input type="text" [(ngModel)]="company" class="form-control" placeholder="Company Name"> </div>
        </div> 
      </div>
      <div class="col-md-8 col-md-offset-2">
      <button (click)="addUser()" class= "btn btn-success"> Add User </button>
      </div>
    </div>
  </div>
</div>