<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a routerLink="">User List</a></li>
      <li><a routerLink="add">Add User</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
