<div class="container">
  <div class="row">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
      <tr *ngFor= "let data of UserList; let i = index">
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.address.street}}</td>
        <td>{{data.company.name}}</td>
        <td><button (click)="remove(i)"  class="btn btn-danger">Remove</button></td>
      </tr> 
    </table>
  </div>
</div>